<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /2026collection/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /2026collection/index.html [L]
</IfModule>
